@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@using WebCore.Services;
@using WebCore.Model.Services;
@using WebCore.Model.Services;

@Html.Partial("~/Areas/Management/Views/_ViewSearchPatial.cshtml", null)
@* control ******************************************************************************************************@
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="tbcol-id">#&nbsp;</th>
                <th class="tbcol-title">Mã nhân viên/ Doc Number</th>
                <th class="tbcol-active">Tên hành khách</th>
                <th class="tbcol-active">Mã PNA</th>
                <th class="tbcol-none report-trans">TicketPrinterLniata</th>
                <th class="tbcol-none report-trans">T.Gian</th>
                <th class="tbcol-none report-trans">FareAmount</th>
                <th class="tbcol-none report-trans">FopCode</th>
                <th class="tbcol-none report-trans">TaxAmount</th>
                <th class="tbcol-none report-trans">TotalAmount</th>
            </tr>
        </thead>
        <tbody id="TblData"></tbody>
    </table>
</div>
<div id="Pagination"></div>
@section scripts{
    <script src="~/Areas/Management/_script/vna-report.js"></script>
    <script type="text/javascript">
        $(function () {
            VNAReportController.DataList(1);
        });
    </script>
}