@using WebCore.Services;
@using WebCore.Model.Services;

@using Helper.Language;
@using Helper.TimeData;

@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@Html.Partial("~/Areas/Management/Views/_ViewEprReportSearchPatial.cshtml", null)
@* control ******************************************************************************************************@
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="tbcol-id">#&nbsp;</th>
                <th class="tbcol-active">PnrLocator/FareBasis</th>
                <th class="tbcol-none">Tên hành khách</th>
                <th class="tbcol-date">T.Gian khởi hành</th>
                <th class="tbcol-status">B-Status</th>
                <th class="tbcol-status">C-Status</th>
                <th class="tbcol-action">ACT</th>
            </tr>
        </thead>
        <tbody id="TblData"></tbody>
    </table>
</div>
<div id="Pagination"></div>
@section scripts{
    <script src="~/Areas/Management/_script/vna-report.js"></script>
}