@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@using WebCore.Services;
@using WebCore.Model.Services;
@using WebCore.Model.Services;

<div class="row" data-keyenter="#btnSearch" data-datesearch="true">
    <div class="col-md-2">
        <div class="form-group ">
            <input id="txtReportDate" type="text" class="form-control" data-date="true" placeholder="dd-mm-yyyy" value="@DateTime.Now.ToString("dd-MM-yyyy")" />
        </div>
    </div>
    <div class="col-md-4 col-md-offset-5" data-keyenter="#btnSearch">
        <div class="input-group">
            <input type="text" class="form-control" id="txtQuery" placeholder="Nhập từ khóa..." />
            <span id="btnEprReportSearch" class="input-group-addon"><i class="fa fa-search -icons"></i></span>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group ">
             
        </div>
    </div>
</div>
@* control ******************************************************************************************************@
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="tbcol-id">#&nbsp;</th>
                <th class="tbcol-title">Mã nhân viên/ Doc Number</th>
                <th class="tbcol-active">Mã PNA</th>
                <th class="tbcol-active">Tên hành khách</th>
                <th class="tbcol-none report-trans">T.Gian</th>
                <th class="tbcol-none report-trans">FareAmount</th>
                <th class="tbcol-none report-trans">TaxAmount</th>
                <th class="tbcol-none report-trans">TotalAmount</th>
                <th class="tbcol-action">ACT</th>
            </tr>
        </thead>
        <tbody id="TblData"></tbody>
    </table>
</div>
<div id="Pagination"></div>
@section scripts{
    <script src="~/Areas/Management/_script/vna-report.js"></script>
    <script type="text/javascript">
    </script>
}