@using WebCore.Services;
@using WebCore.Model.Services;
@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

<div class="row">
    <div class="col-xs-12 col-md-3 align-right" data-keyenter="#btnSearch">
        <div class="form-group">
            <select id="ddlAreaID" name="ddlAreaID" class="form-control show-tick" data-live-search="true">
                <option value="-">-Khu vực-</option>
                @Html.Raw(AreaGeographicalService.AreaDropdownList(string.Empty))
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-3 align-right" data-keyenter="#btnSearch">
        @*<div class="form-group">
                <select id="ddlProvince" name="ddlProvince" class="form-control show-tick" data-live-search="true">
                    <option value="">-Thành phố-</option>
                </select>
            </div>*@
    </div>
    <div class="col-xs-12 col-md-4 align-right" data-keyenter="#btnSearch">
        <div class="form-group">
            <div class="ctrl-search-bar">
                <div id="btnSearch" class="search-icon">
                    <i class="fa fa-search"></i>
                </div>
                <input id="txtQuery" class="form-control" type="text" placeholder="Nhập từ khóa..." />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 align-right" data-keyenter="#btnSearch">
        <div class="form-group">
            <a href="@Helper.Page.Navigate.PathCreate()" class="btn btn-primary">
                Thêm mới
            </a>
        </div>
    </div>
</div>
<div class="table-responsive" style="overflow-y:hidden !important; overflow-x:auto !important;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="tbcol-id">#&nbsp;</th>
                <th class="tbcol-none">Khu vực</th>
                <th class="tbcol-none">IATA code</th>
                <th class="tbcol-none">Tiêu đề</th>
                <th class="tbcol-active">T.Thái</th>
                <th class="tbcol-action">
                    <a href="@Helper.Page.Navigate.PathCreate()">
                        <i class="fa fa-plus-square" title="create"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody id="TblData"></tbody>
    </table>
</div>
<div id="Pagination"></div>
@section scripts{
    <script src="~/Areas/Management/_script/app-flight.js"></script>
    <script type="text/javascript">
        $(function () {
            flightController.DataList(1);
        })
    </script>
}