@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@using WebCore.Services;
@using WebCore.Model.Services;
@using WebCore.Model.Services;

@Html.Partial("~/Areas/Management/Views/_ViewSearchForHistoryPatial.cshtml", null)
@* control ******************************************************************************************************@
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="tbcol-id">#&nbsp;</th>
                <th class="tbcol-action">Mã đại lý</th>
                <th class="tbcol-none">Hãng hàng không</th>
                <th class="tbcol-none">Nội địa</th>
                <th class="tbcol-none">Quốc tế</th>
            </tr>
        </thead>
        <tbody id="TblData"></tbody>
    </table>
</div>
<div id="Pagination"></div>
@section scripts{
    <script src="~/Areas/Management/_script/agent-fee.js"></script>
    <script type="text/javascript">
        $(function () {
            AgentFeeConfigController.DataList(1);
        })
    </script>
}