@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@model  List<WebCore.Entities.MenuControllerResult>
@using WebCore.Services
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Phân vùng:</label>
            <select id="ddlArea" name="ddlArea" class="form-control show-tick" data-live-search="true">
                <option value="">-@Helper.Language.Resource.Label.Option-</option>
            </select>
            <span id="lblArea" class="message msg-box"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="form-label">Nhóm chức năng:</label>
            <select id="ddlMenuCategoryID" name="ddlMenuCategoryID" class="form-control show-tick" data-live-search="true">
                <option value="">-@Helper.Language.Resource.Label.Option-</option>
                @*@Html.Raw(MenuControllerService.DropdownList(this.ar))*@
            </select>
            <span id="lblMenuCategoryID" class="message msg-box"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label class="form-label">Danh mục/action: &nbsp; <span id="btnSyncControl" style="color:#0094ff;  cursor:pointer;"><i class="fas fa-sync-alt"></i> Đồng bộ</span></label>
        <hr class="m-t-5" />
        <div class="row" id="MenuControlList"></div>
        <div class="form-group text-right">
            <button id="btnUpdate" class="btn btn-primary" type="button">@Helper.Language.Resource.Label.BtnUpdate</button>
            <button id="btnReset" class="btn btn-danger" type="reset">@Helper.Language.Resource.Label.BtnReset</button>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/Development/_script/menu-item.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetMenuArea("", true);
        });
    </script>
}
