@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
    <div class="row" data-keyenter="#btnSearch">
        <div class="col-md-2">
            <div class="form-group">
                <select id="ddlExpress" name="ddlExpress" class="form-control">
                    <option value="0">-Lựa chọn-</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="form-control" id="txtStartDate" placeholder="dd-mm-yyyy" />
                    <span class="input-group-addon"><i class="far fa-arrow-alt-circle-right"></i></span>
                    <input type="text" class="form-control" id="txtEndDate" placeholder="dd-mm-yyyy" />
                </div>
            </div>
        </div>
        <div class="col-md-4" data-keyenter="#btnSearch">
            <div class="input-group">
                <input type="text" class="form-control" id="txtQuery" placeholder="Nhập từ khóa..." />
                <span id="btnSearch" class="input-group-addon"><i class="fa fa-search -icons"></i></span>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <div class="form-group">
                <a href="@Helper.Page.Navigate.PathCreate()" class="btn btn-primary">
                    @Helper.Language.Resource.Label.BtnCreate
                </a>
            </div>
        </div>
    </div>
<div class="table-responsive" style="overflow-y:hidden !important; overflow-x:auto !important;">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="tbcol-id">#&nbsp;</th>
                <th class="tbcol-title">Tiêu đề</th>
                <th class="tbcol-active">T.Thái</th>
                <th class="tbcol-date">Ngày tạo</th>
                <th class="tbcol-action">
                    ACT &nbsp;
                    <a href="@Helper.Page.Navigate.PathCreate()">
                        <i class="fa fa-plus-square" title="create"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody id="TblData"></tbody>
    </table>
</div>
<div id="Pagination"></div>
@section scripts{
    <script src="~/Areas/Management/_script/trans-deposit.js"></script>
    <script type="text/javascript">
        $(function () {

            //$('#txtStartDate').datepicker({
            //    format: 'dd-mm-yyyy',
            //    startDate: '01-01-2019',
            //    todayHighlight: true

            //}).on('changeDate', function (index, item) {
            //    $('#selectDate').datepicker('hide');
            //});

            _TransactionDepositController.DataList(1);
        });
    </script>
}