@using WebCore.Services;
@using WebCore.Model.Services;
@*search control ******************************************************************************************************@

<div class="row" data-keyenter="#btnSearch" data-datesearch="true" data-head="true">  
    <div class="col-md-4 col-md-offset-8" data-keyenter="#btnSearch">
        <div class="form-group input-group">
            <input type="text" class="form-control" id="txtQuery" placeholder="Nhập từ khóa..." />
            <span id="btnSearch" class="input-group-addon"><i class="fa fa-search -icons"></i></span>
        </div>
    </div>
</div>
@*search control ******************************************************************************************************@

