@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}

@using WebCore.Services;
@using WebCore.Model.Services;
@using WebCore.Model.Services;

@Html.Partial("~/Areas/Management/Views/_ViewSearchForOrderPatial.cshtml", null)
@* control ******************************************************************************************************@
<div class="table-responsive">
    <table class="table table-bordered table-inline">
        <thead>
            <tr>
                <th class="tbcol-id">#&nbsp;</th>
                <th class="tbcol-date">N.xuất vé</th>
                <th class="tbcol-active">M.DL</th>
                <th class="tbcol-date">Loại K.Hàng</th>
                <th class="tbcol-active">Hãng</th>
                <th class="tbcol-none">Số vé</th>
                <th class="tbcol-none">Giá vé (H)</th>
                <th class="tbcol-none">Thuế (H)</th>
                <th class="tbcol-none">Phí (H)</th>
                <th class="tbcol-amount">Giá DL-chênh</th>
                <th class="tbcol-none">Phí xuất vé</th>
                <th class="tbcol-none">Phí DL</th>
                <th class="tbcol-none">Tổng chi phí</th>
                <th class="tbcol-action">
                    ACT
                </th>
            </tr>
        </thead>
        <tbody id="TblData"></tbody>
    </table>
</div>
<div id="Pagination"></div>
@section scripts{
    <script src="~/Areas/Management/_script/app-order.js"></script>
    <script type="text/javascript">
        $(function () {
            AirOrderController.DataList(1);
        });
    </script>
}