
@{
    ViewBag.Title = Helper.MetaSEO.MetaTitle;
}
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-8">
                        <h2>Danh sách</h2>
                    </div>
                    <div class="col-xs-12 col-sm-4 align-right" data-keyenter="#btnSearch">
                        <div class="form-group">
                            <div class="ctrl-search-bar">
                                <div id="btnSearch" class="search-icon">
                                    <i class="fa fa-search"></i>
                                </div>
                                <input id="txtQuery" class="form-control" type="text" placeholder="Nhập từ khóa..." />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-1 align-right">
                        <div class="icon-add">

                        </div>
                    </div>
                </div>
            </div>
            <div class="body" style="overflow:auto">
                <div class="table-responsive" style="overflow-y:hidden !important; overflow-x:auto !important;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="tbcol-id">#&nbsp;</th>
                                <th class="tbcol-title">Tiêu đề</th>
                                <th class="tbcol-none">Mô tả</th>
                                <th class="tbcol-date">Người tạo</th>
                                <th class="tbcol-active">T.Thái</th>
                                <th class="tbcol-date">Ngày tạo</th>
                                <th class="tbcol-action">
                                    ACT &nbsp;
                                    <a href="@Helper.Navigate.BackEnd.URLCreate">
                                        <i class="fa fa-plus-square" title="create"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody id="TblData"></tbody>
                    </table>
                </div>
                <div id="Pagination"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/BackEnd/_script/product-provider.js"></script>
    <script type="text/javascript">
        $(function () {
            productProviderController.DataList(1);
        })
    </script>
}