<!-- Add Filer Form -->

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 bg-success">
            <div class="form-group">
                <br />
                Tất cả các chặng bay đủ điều kiều kiện, sẽ được áp dụng giá thấp nhất.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 m-t-30">
        <div class="top-pic mgb-10">
            <label><i class="fas fa-cog" aria-hidden="true"></i> Điều kiện 04:</label>
        </div>
        <div class="input-group">
            <div class="input-daterange input-group" style="margin-bottom:0px;">
                <input type="text" class="form-control" id="txtStartDate" placeholder="Số hiệu">
                <span class="input-group-addon"><i class="far fa-arrow-alt-circle-right"></i></span>
                <input type="text" class="form-control" id="txtEndDate" placeholder="Số hiệu">
            </div>
            <span class="input-group-btn">
                <button id="btnFeeApply" type="button" class="btn btn-primary" data-disable-with="Search">Áp dụng</button>
            </span>
        </div>
        <div class="form-group">
            <p>
                <i class="far fa-hand-point-right"></i> <label class="col-green">Đang áp dụng</label>  <i class="far fa-hand-point-right"></i> <label class="col-pink">Không áp dụng</label>
            </p>
            <p><i>Tất cả các máy bay có số hiệu trong khoảng được cấu hình, sẽ được áp dụng giá thấp nhất.</i></p>
            <hr />
        </div>
    </div>
</div>

