<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SessionCreateSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SessionCreateSoapBinding1" />
                <binding name="SessionCloseSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SessionCloseSoapBinding1" />
                <binding name="OTA_AirAvailSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OTA_AirAvailSoapBinding1" />
                <binding name="FareSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FareSoapBinding1" />
                <binding name="TaxSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="TaxSoapBinding1" />
                <binding name="OTA_AirBookSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OTA_AirBookSoapBinding1" />
                <binding name="OTA_CancelSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OTA_CancelSoapBinding1" />
                <binding name="PassengerDetailsSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PassengerDetailsSoapBinding1" />
                <binding name="EndTransactionSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="EndTransactionSoapBinding1" />
                <binding name="OTA_AirPriceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OTA_AirPriceSoapBinding1" />
                <binding name="PaymentServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentServiceSoapBinding1" />
                <binding name="DesignatePrinterSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DesignatePrinterSoapBinding1" />
                <binding name="GetReservationSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="GetReservationSoapBinding1" />
                <binding name="VoidTicketSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="VoidTicketSoapBinding1" />
                <binding name="CachedReportSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DailySalesSummarySoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CachedReportSoapBinding1" />
                <binding name="DailySalesSummarySoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
                bindingConfiguration="SessionCreateSoapBinding" contract="WebService.WSSessionCreateRQ.SessionCreatePortType"
                name="SessionCreatePortType" />
            <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
                bindingConfiguration="SessionCloseSoapBinding" contract="WebService.WSSessionCloseRQ.SessionClosePortType"
                name="SessionClosePortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="OTA_AirAvailSoapBinding"
                contract="WebService.WSOTA_AirAvailLLSRQ.OTA_AirAvailPortType"
                name="OTA_AirAvailPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="FareSoapBinding"
                contract="WebService.WSFareLLSRQ.FarePortType" name="FarePortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="TaxSoapBinding"
                contract="WebService.WSOTA_AirTaxRQ.TaxPortType" name="TaxPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="OTA_AirBookSoapBinding"
                contract="WebService.WSOTA_AirBookLLSRQ.OTA_AirBookPortType"
                name="OTA_AirBookPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="OTA_CancelSoapBinding"
                contract="WebService.WSOTA_CancelLLSRQ.OTA_CancelPortType"
                name="OTA_CancelPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="PassengerDetailsSoapBinding"
                contract="WebService.WSPassengerDetailsRQ.PassengerDetailsPortType"
                name="PassengerDetailsPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="EndTransactionSoapBinding"
                contract="WebService.WSEndTransactionLLSRQ.EndTransactionPortType"
                name="EndTransactionPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="OTA_AirPriceSoapBinding"
                contract="WebService.WSOTA_AirPriceLLSRQ.OTA_AirPricePortType"
                name="OTA_AirPricePortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="PaymentServiceSoapBinding"
                contract="WebService.WSPaymentRQ.PaymentServicePortType" name="PaymentServicePortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="DesignatePrinterSoapBinding"
                contract="WebService.WSDesignatePrinterLLSRQ.DesignatePrinterPortType"
                name="DesignatePrinterPortType" />
            <endpoint address="https://webservices.sabre.com" binding="basicHttpBinding"
                bindingConfiguration="GetReservationSoapBinding" contract="WebService.WSGetReservationRQ.GetReservationPortType"
                name="GetReservationPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="VoidTicketSoapBinding"
                contract="WebService.WSVoidTicketLLSRQ.VoidTicketPortType"
                name="VoidTicketPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="CachedReportSoapBinding"
                contract="WebService.WSKT_AsrServices.CachedReportPortType"
                name="CachedReportPortType" />
            <endpoint address="https://webservices.havail.sabre.com/websvc"
                binding="basicHttpBinding" bindingConfiguration="DailySalesSummarySoapBinding"
                contract="WebService.WSKT_AsrServices.DailySalesSummaryPortType"
                name="DailySalesSummaryPortType" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
