@{
    ViewBag.Title = Helper.Page.MetaSEO.MetaTitle;
}
@using WebCore.Services;
@using WebCore.Model.Services;
<div class="card"> 
    <div class="body">
        <div class="row clearfix align-right" data-keyenter="#btnSearch">
            <div class="col-md-3" data-keyenter="#btnSearch">
                <div class="form-group">
                    <select id="ddlStatus" name="ddlStatus" class="form-control show-tick" data-live-search="true">
                        <option value="-1">-@Resource.Label.Status-</option>
                        @Html.Raw(ModelService.DDLStatus(-1))
                    </select>
                </div>
            </div>
            <div class="col-md-4" data-keyenter="#btnSearch">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="txtQuery" placeholder="Nhập từ khóa..." />
                        <span id="btnSearch" class="input-group-addon"><i class="fa fa-search -icons"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-right">
                <div class="form-group">
                    <a href="@Helper.Page.Navigate.PathCreate()" class="btn btn-primary">
                        Thêm mới
                    </a>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="overflow-y:hidden !important; overflow-x:auto !important;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="tbcol-id">#&nbsp;</th>
                        <th class="tbcol-title">Tiêu đề</th>
                        <th class="tbcol-none">Mô tả</th>
                        <th class="tbcol-date">Người tạo</th>
                        <th class="tbcol-active">T.Thái</th>
                        <th class="tbcol-date">Ngày tạo</th>
                        <th class="tbcol-action">
                            ACT
                        </th>
                    </tr>
                </thead>
                <tbody id="TblData"></tbody>
            </table>
        </div>
        <div id="Pagination"></div>
    </div>
</div>
@section scripts{
    <script src="~/Areas/adm/script/user-group.js"></script>
    <script type="text/javascript">
        $(function () {
            uGroupController.DataList(1);
        })
    </script>
}

