@{
    ViewBag.Title = Helper.MetaSEO.MetaTitle;
}
    <div class="card">
        <div class="header">
            <h2>Đổi mã pin</h2>
        </div>
        <div class="body">
            <div class="row clearfix">
                <div class="col-md-4">
                    <div class="form-group ">
                        <div class="form-line">
                            <label class="form-label">Mã pin:</label>
                            <input id="txtPinCode" name="txtPinCode" maxlength="50" type="password" class="form-control" value="" />
                        </div>
                        <span id="lblPinCode" class="message msg-box"></span>
                    </div>
                    <div class="form-group ">
                        <div class="form-line">
                            <label class="form-label">Mã pin mới:</label>
                            <input id="txtNewPinCode" name="txtNewPinCode" maxlength="50" type="password" class="form-control" value="" />
                        </div>
                        <span id="lblNewPinCode" class="message msg-box"></span>
                    </div>
                    <div class="form-group ">
                        <div class="form-line">
                            <label class="form-label">XH-Mã pin mới:</label>
                            <input id="txtReNewPinCode" name="txtReNewPinCode" maxlength="50" type="password" class="form-control" value="" />
                        </div>
                        <span id="lblReNewPinCode" class="message msg-box"></span>
                    </div>
                    <div>
                        <button id="btnChangePinCode" class="btn btn-primary" type="button">Lưu lại</button>
                        <button id="btnReset" class="btn btn-danger" type="reset">Làm mới</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section scripts{
    <script src="~/Areas/BackEnd/_script/setup-password.js"></script>
}

